{% extends "_base.html" %}

{% block title %}
    Book Flight
{% endblock %}

{% block content %}
    <section class="grid grid-cols-1 lg:grid-cols-4 gap-y-4 gap-x-0 lg:gap-x-4 m-auto lg:w-6/8" id="main_container">
        <div class="card col-span-3 order-2 lg:order-1 h-fit border-base-content/25 border" id="table">
            <div class="card-header"><h1 class="card-title">
                Routes from {{ user.curr_airport }} <i class="flag2x {{ user.curr_airport.country.flag_css }}"></i>
            </h1></div>
            {% include "operations/partials/_table_routes.html" %}
        </div>
        {% include "operations/partials/_filter_routes.html" %}
    </section>
{% endblock %}