{% load core_filters %}

<div class="col-start-2 col-end-4">
    <div class="card border-base-content/25 border">
        <div class="card-header">
            <h1 class="card-title">Book {{ route.code }}</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="border-0 bg-base-300/20 *:first:rounded-s-md *:last:rounded-e-md">
                        <th>Aircraft</th>
                        <th>ICAO Code</th>
                        <th>CI</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fleet in fleets %}
                        <tr>
                            <th>{{ fleet.name }}</th>
                            <td>{{ fleet.icao_code }}</td>
                            <td>{{ fleet.ci }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm font-light" hx-post="{% url 'bid' %}"
                                   hx-swap="none" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                   hx-vals='{"route_id": "{{ route.id }}", "fleet_id": "{{ fleet.id }}"}'>Select</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
