{% if paginator.has_previous %}
    <a class="join-item btn" hx-get="?page={{ paginator.previous_page_number }}"
       hx-target="#table" hx-push-url="true">« Previous</a>
{% else %}
    <button class="join-item btn btn-disabled">« Previous</button>
{% endif %}
{% for page_num in elided_range %}
    {% if page_num == routes.paginator.ELLIPSIS %}
        <button class="join-item btn btn-disabled">{{ page_num }}</button>
    {% elif page_num == paginator.number %}
        <button class="join-item btn btn-active">{{ page_num }}</button>
    {% else %}
        <a class="join-item btn" hx-get="?page={{ page_num }}" hx-target="#table"
           hx-push-url="true">{{ page_num }}</a>
    {% endif %}
{% endfor %}
{% if paginator.has_next %}
    <a class="join-item btn" hx-get="?page={{ paginator.next_page_number }}" hx-target="#table"
       hx-push-url="true">Next »</a>
{% else %}
    <button class="join-item btn btn-disabled">Next »</button>
{% endif %}