{% load core_filters %}
{% partialdef input %}
    <input type="text" class="input w-full" id="{{ name }}" oninput="this.name = this.value ? '{{ name }}' : ''"
            {% if is_booking %} hx-get="{% url 'book_flight' %}" {% else %} hx-get="{% url 'routes' %}" {% endif %}
           hx-trigger="keyup changed delay:350ms, keyup[key=='Enter']"
           hx-target="#table" hx-push-url="true" value="{{ value }}">
{% endpartialdef %}

<div class="card border-base-content/25 border order-1 lg:order-2 h-fit">
    <div class="card-header">
        <h1 class="card-title">Filters</h1>
    </div>
    <div class="flex flex-col gap-4 px-4 pb-8">
        {% if not is_booking %}
            <div class="w-full">
                <label for="departure_airport" class="label-text">Departure Airport</label>
                {% with name="departure_airport" value=request.GET.departure_airport %}
                    {% partial input %}
                {% endwith %}
            </div>
        {% endif %}

        <div class="w-full">
            <label for="arrival_airport" class="label-text">Arrival Airport</label>
            {% with name="arrival_airport" value=request.GET.arrival_airport %}
                {% partial input %}
            {% endwith %}
        </div>

        <div class="w-full">
            <label for="fleet_type" class="label-text">Aircraft(s)</label>
            <select multiple
                    data-select='{
                    "placeholder": "Select multiple options...",
                    "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                    "toggleClasses": "advance-select-toggle select-disabled:pointer-events-none select-disabled:opacity-40",
                    "dropdownClasses": "advance-select-menu",
                    "optionClasses": "advance-select-option selected:select-active",
                    "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"icon-[tabler--check] shrink-0 size-4 text-primary hidden selected:block \"></span></div>",
                    "extraMarkup": "<span class=\"icon-[tabler--caret-up-down] shrink-0 size-4 text-base-content absolute top-1/2 end-3 -translate-y-1/2 \"></span>"
                    }'
                    name="fleet_type" id="fleet_type" class="hidden"
                    {% if is_booking %} hx-get="{% url 'book_flight' %}" {% else %}
                    hx-get="{% url 'routes' %}" {% endif %}
                    hx-trigger="change delay:500ms" hx-target="#table" hx-push-url="true">
                <option value="">Choose</option>
                {% for fleet in fleets %}
                    <option value="{{ fleet.id }}"
                            {% if fleet.id|stringformat:'s' in request.GET|get_list:'fleet_type' %}
                            selected {% endif %}>{{ fleet.icao_code }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>