<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}{% endblock title %} - VAMng
	</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=inter:400,500|poppins:600,700" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
</head>
<body class="h-screen flex flex-col">
    {% include "layouts/_header.html" %}
    <main class="flex flex-1">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>