{% extends "_base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <section class="container m-auto">
        <div class="card border-base-content/25 border">
            <div class="card-header flex justify-between pb-1">
                <h1 class="card-title">{{ user }} <span class="badge badge-neutral ml-2">{{ user.rank }}</span></h1>
                <button class="btn btn-soft btn-xs btn-primary">Edit Profile</button>
            </div>
            <div class="card-body">
                <section class="flex justify-between items-end">
                    <div class="flex flex-col">
                        <span class="text-sm text-gray-500">{{ user.email }}</span>
                        <span class="text-sm text-gray-500">Member since {{ user.date_joined|date:"d M Y" }}</span>
                    </div>
                    <i class="flag3x {{ user.country.flag_css }} self-center"></i>
                </section>
            </div>
        </div>

        <div class="grid grid-cols-3 p-4 gap-4">
            <div class="stats stats-border">
                <div class="stat">
                    <div class="stat-title">Total Hours</div>
                    <div class="stat-value">{{ user.total_hours }}H</div>
                </div>
            </div>
            <div class="stats stats-border">
                <div class="stat">
                    <div class="stat-title">Current Airport</div>
                    <div class="stat-value">{{ user.curr_airport.icao|default:"None" }}</div>
                </div>
            </div>
            <div class="stats stats-border">
                <div class="stat">
                    <div class="stat-title">Total Flights</div>
                    <div class="stat-value">0</div>
                </div>
            </div>
        </div>

        {% if user.active_bid %}
            <div class="card border-base-content/25 border mb-4">
                <div class="card-header flex justify-between pb-1">
                    <h1 class="text-xl">Your Current Booked Flight</h1>
                    <section class="flex justify-between">
                        <h1 class="text-xl"></h1>
                        <div>
                            <a class="btn btn-soft btn-xs btn-error" hx-delete="{% url 'bid' %}"
                               hx-swap="none" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Cancel Bid</a>
                        </div>
                    </section>
                </div>
                <div class="card-body">
                    <section class="text-gray-500">
                        <h3 class="text-base">{{ user.active_bid.route.code }}</h3>
                        <div class="flex justify-between text-sm">
                            <span>{{ user.active_bid.route.departure_airport }}</span>
                            <span>{{ user.active_bid.route.arrival_airport }}</span>
                        </div>
                        <div class="flex justify-between text-sm">
                            <span>Fleet Type Booked: {{ user.active_bid.fleet_type.icao_code }}</span>
                            <span>Flight Time: {{ user.active_bid.route.flight_time }}</span>
                        </div>
                    </section>
                </div>
            </div>
        {% endif %}

        <div class="card border-base-content/25 border p-4">
            <h1 class="text-xl">Flights</h1>
        </div>
    </section>
{% endblock %}